@import '../pages/Variables';
.chat {
    flex: 2;
    display: flex;
    flex-direction: column;
    background: $userChatBgLight;
    height: 100%;
    .chatInfo {
        height: 10%;
        display: flex;
        color: $headerTitleLight;
        justify-content: space-between;
        align-items: center;
        background-color: $headerChatbarLight;
        display: flex;
        flex-direction: row;
        padding: 15px;
        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .chatIcons {
            display: flex;
            gap: 5px;
            span {
                display: flex;
                padding: 2px 7px;
                cursor: pointer;
                border: 2px solid $headerSidebarLight;
                color:$headerSidebarLight;
                border-radius: 10px;
                transition: 0.3s;
                &:hover {
                    color: $headerTitleLight;
                    border: 2px solid $headerTitleLight;
                }
                &:active {
                    color: $activeColorElementLight;
                    border: 2px solid $activeColorElementLight;
                }
            }
        }
    }
    .messages {
        height: 80%;
        background-color: $userChatBgLight;
        overflow: scroll;

        .message {
            padding: 5px 15px;
            
            .message-info {
                gap: 15px;
                display: flex;
                flex-direction: row;
                .message-title {
                    display: flex;
                    flex-direction: column;
                    img {
                        width: 40px;
                    }
                    span {
                        color: gray;
                        font-size: 12px;
                    }
                }
                .message-avatar {
                    border-radius: 10px;
                }
                .message-text {
                    p {
                        background-color: rgb(236 236 236);
                        padding: 5px 10px;
                        border-radius: 0 10px 10px 10px;
                    }
                }
            }
            &.false {
                    .message-info {
                        flex-direction: row-reverse;                      
                        .message-text {
                            p {
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                    }
    
               }
        }
    }
    .inputChat {
        height: 10%;
        background-color: $inputChatLight;
        display: flex;
        justify-content: flex-end;
        align-items: right;
        input {
            border: none;
            width: 88%;
            padding: 5px;
            outline: none;
            &::placeholder {
                text-align: center;
                
            }
        }
        .send-button {
            border: none;
            border-radius: 10px;
            
            width: 12%;
            padding: 5px;
            margin: 7px;
            color: #ffffff;
            background-color: #4c61a3;
            cursor: pointer;
            transition: .3s;
            
            &:hover {
               background-color: rgb(30, 165, 210);
               color:white;
               box-shadow: 5px 5px gray;
            }
            &:active {
                background-color: rgb(58, 186, 143);
                box-shadow: 2px 2px black;
            }
        }
    }
}

$small: 600px;
$medium: 900px;
@media screen and (min-width: $small) and (max-width: $medium) {
    .chat {
        // flex: 2;
        // display: flex;
        // flex-direction: column;
        // background: $userChatBgLight;
        // height: 100%;
        .chatInfo {
            height: 8%;
            font-size: 14px;
            padding: 10px;
        }
        .messages {
            height: 82%;
        }
        .inputChat {
            height: 10%;
            input {
                width: 80%;
                font-size: 12px;
            }
            .send-button {
                width: 20%;
            }
        }
    }
    
}

$micro: 300px;
$mini: 600px;
@media screen and (min-width: $micro) and (max-width: $mini) { 
    .chat {
        .chatInfo {
            height: 8%;
            font-size: 10px;
            padding: 5px;
            .chatIcons {
                padding: 2px;
                img{
                    height: 12px;
                    width: 12px;
                }
            }
        }
        .messages {
            height: 82%;
            .message {
                padding: 2px 7px;
                
                .message-info {
                    gap: 5px;
                    .message-title {
                        img {
                            width: 30px;
                        }
                        span {
                            font-size: 8px;
                        }
                    }
                    .message-avatar {
                        border-radius: 10px;
                    }
                    .message-text {
                        p {
                            font-size: 10px;
                            background-color: rgb(236 236 236);
                            padding: 3px 6px;
                            border-radius: 0 10px 10px 10px;
                        }
                    }}}
        }

        .inputChat {
            height: 10%;
            input {
                width: 70%;
                font-size: 10px;
            }
            .send-button {
                width: 30%;
            }
        }
    }
    
}