@import '../pages/Variables';
.chat {
    flex: 2;
    display: flex;
    flex-direction: column;
    background: $userChatBgLight;
    height: 100%;
    .chatInfo {
        height: 10%;
        display: flex;
        color: $headerTitleLight;
        justify-content: space-between;
        align-items: center;
        background-color: $headerChatbarLight;
        display: flex;
        flex-direction: row;
        padding: 15px;
        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    .messages {
        height: 80%;
        background-color: $userChatBgLight;
        overflow: scroll;

        .message {
            padding: 5px 15px;
            
            .message-info {
                gap: 15px;
                display: flex;
                flex-direction: row;
                .message-title {
                    display: flex;
                    flex-direction: column;
                    img {
                        width: 40px;
                    }
                    span {
                        color: gray;
                        font-size: 12px;
                    }
                }
                .message-avatar {
                    border-radius: 10px;
                }
                .message-text {
                    p {
                        background-color: rgb(236 236 236);
                        padding: 5px 10px;
                        border-radius: 0 10px 10px 10px;
                    }
                }
            }
        }
    }
    .inputChat {
        height: 10%;
        background-color: $inputChatLight;
        display: flex;
        justify-content: flex-end;
        align-items: right;
        input {
            border: none;
            width: 88%;
            padding: 5px;
            outline: none;
            &::placeholder {
                text-align: center;
                
            }
        }
        .send-button {
            border: none;
            border-radius: 10px;
            
            width: 12%;
            padding: 5px;
            margin: 7px;
            color: #ffffff;
            background-color: #4c61a3;
            cursor: pointer;
            transition: .3s;
            
            &:hover {
               background-color: rgb(30, 165, 210);
               color:white;
               box-shadow: 5px 5px gray;
            }
            &:active {
                background-color: rgb(58, 186, 143);
                box-shadow: 2px 2px black;
            }
        }
    }
}