@import 'chat.scss';
.home {
    display: flex;
    background-color: rgb(248, 246, 246);
    height: 90vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 3px 3px gray;
    overflow: hidden;
    
    .sidebar {
        flex: 1;
        background-color: $searchUserBgLight;
        height: 100%;
        .navbar {
            display: flex;
            justify-content:space-between;
            height: 10%;
            align-items: center;
            font-size: 16px;
            padding: 12px;
            color:white;
            background-color: $headerSidebarLight;
            font-style: italic;

            .navbar_logo-title {
                font-size: 20px;
                font-weight: 500;
            }
            .navbar_user {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                
                .navbar_user-avatar {
                    height: 35px;
                    width: 35px;
                    object-fit: cover;
                    border-radius: 40px;
                    background-color: bisque;
                }
                .navbar_logout {
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 12px;
                    width: 55%;
                    padding: 5px;
                    cursor: pointer;
                    background-color: rgb(128 143 191);
                    color: white;
                    border: none;
                    border-radius: 6px;
                    transition: 0.3s;
                }
                .navbar_logout:hover {
                    color: rgb(76, 97, 163);
                    background-color: white;
                    box-shadow: 5px 5px gray;
                }
                .navbar_logout:active {
                    box-shadow: 2px 2px black;
                    
                }
            }

        }
        .search {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            transition: .3s;
            border-bottom: 2px solid rgb(76, 97, 163);
            input {
                border-radius: 10px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                background-color: rgb(217, 231, 243);
                cursor: pointer;
                padding: 5px;
                border: none;
                
                outline: none;
                transition: .3s;
                &:hover {
                    background-color: rgba(127, 148, 255, 0.228);
                }
                &:active {
                    background-color: rgba(0, 128, 0, 0.315);
                }
                &::placeholder {
                    color: gray;
                   
                }
            
            }
            

            .search_user {
                display: flex;
                justify-content: start;
                width: 100%;
                align-items: center;
                gap: 20px;
                padding: 10px;
                transition: .3s;
                cursor: pointer;

                    &:hover {
                        border-radius: 10px;
                        color: green;
                        background-color: rgba(127, 148, 255, 0.228);
                    }
                    &:active {
                        background-color: rgba(0, 128, 0, 0.315);
                        color: white;
                    }
                .search_avatar {
                    border-radius: 50px;
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                }
            }

        }

        .chats {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 5px;
            .user {
                
                gap: 10px;
                display: flex;
                cursor: pointer;
                transition: .3s;
                padding: 5px 15px;
                &:hover {
                    border-radius: 10px;
                    color: green;
                    background-color: rgba(127, 148, 255, 0.228);
                }
                &:active {
                    background-color: rgba(0, 128, 0, 0.315);
                    color: white;
                }
                .user-chat-avatar {
                    width: 40px;
                    border-radius: 50%;
                }
                .userChat-info {
                    gap:0px;
                    font-style: italic;
                    .user-chat-name {
                       
                    }
                    .last-mess {
                        padding: 0;
                        margin: 0;
                        color: rgb(158, 146, 146);
                        


                    }
                }
            }
        }
    }
  
}