// for registration
$titleAppLight: rgb(76, 97, 163);
$bgColorLight: #053C5E;
$bgColorAppLight: #dfe9f1dd;

$hoverColorBgElementLight: rgba(127, 148, 255, 0.228);
$hoverColorTextLight: white;
$activeColorElementLight: rgba(0, 128, 0, 0.315);


$hoverColorBgButtonLight: white;
$hoverColorShadowBattonLight: grey;
$activeColorButtonLight: white;
$activeColorShadowBattonLight: black;

// home
$headerSidebarLight: #4c61a3;
$headerChatbarLight: #3b5083;
$headerTitleLight: #f2f2f2;

$searchUserBgLight: #d9e7f3;
$userChatBgLight: #93a4cb;

$inputChatLight: #F8F8F8;
