.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 97, 163);
    height: 100vh;

    .wrapper {
        background-color: rgba(255, 255, 255, 0.836);
        padding: 10px 50px;
        border-radius: 10px;
        box-shadow:6px  6px  rgb(230, 227, 207) , 12px  12px rgb(194, 191, 174);
        
        .app-title {
            text-align: center;
            color:  rgb(76, 97, 163);
        }
        .title {
            display: flex;
            justify-content: center;
            font-size: 15px;
            margin: 20px;
        }
        
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                padding: 6px;
                border: none;
                border-radius: 6px;
            }
        }
    }
}